
/* Media Q - Imagen Header (responsive) */

@media screen and (min-width: 1024px) {
    .imagenHeader {
      width: 100%;
      height: fit-content;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
  .imagenHeader {
    width: 100%;
    height: fit-content;
  }
}

@media screen and (max-width: 767px) {
  .imagenHeader {
    width: 100%;
    height: fit-content;
  }
}

/* Media Q - Sección Productos (responsive) */

@media screen and (max-width: 767px) {
    .productos {
      width: 100%;
    }
}

/* Media Q - Sección Servicios (responsive) */
@media screen and (max-width: 767px) {
  #servicios {
    width: auto;
  }
}

/* Media Q - Sección Sobre Nosotros (responsive) */
@media screen and (max-width: 767px) {
 .about__description {
    width: 60%;
  }
  .about__description h1 {
    margin-bottom: 0px;
    font-size: 10px;
  }
.about__description h5 {
    font-size: 10px;
  }
.about__description p {
    font-size: 9px;
    line-height: 10px;
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 0px;
}

.about__description a {
    margin-left: 0%;
    font-size: 9px;
}
}

/* Media Q - Sección Contacto (responsive) */
@media screen and (max-width: 767px) {
  .about {
     width: auto;
   }
 }