
/* Media Q - Imagen Header (responsive) */

@media only screen and (min-width: 1024px) {
    .imagenHeader img {
      width: 100%;
      height: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px) {
  .imagenHeader img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 320px) {
  .imagenHeader img {
    width: 100%;
    height: auto;
  }
}

/* Media Q - Page not found */
@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }
  .notfound .notfound-404 h1 {
    font-size: 122px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}

/* Media Q - Footer */
@media screen and (max-width: 800px) {
  .footer_1 {
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap:5px;
  padding: 5px 0px;
  }
  .box figure img {
      width: 100px;
  }
  .footer_1 p {
    font-size: 1em;
  }
  .footer_1 h2 {
    font-size: 9px;
  }
  .redes a {
    width: 10px;
    height: 10px;
    line-height: 10px;
    color: black;
    margin-right: 5px;
    text-align: center;
    font-size: 1em;
  }
}
