
/* Media Q - Imagen Header (responsive) */

@media only screen and (min-width: 1024px) {
    .imagenHeader {
      width: 1024px;
      height: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px) {
  .imagenHeader {
    width: 800px;
    height: auto;
  }
}

@media only screen and (max-width: 320px) {
  .imagenHeader {
    width: 320px;
    height: auto;
  }
}

/* Media Q - Page not found */
@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }
  .notfound .notfound-404 h1 {
    font-size: 122px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}