/* Tipografias */

/* Genéricas */
$font-menu: 1em 'raleway', sans-serif;
$font-footer: 1.1em 'raleway', sans-serif;
$font-generico: 'tahoma', sans-serif;

/* Home */
$carousel-titulo: 3.7em'Carrois Gothic SC', sans-serif;
$carousel-descripcion: 2em 'raleway', sans-serif;

/* Seccion contacto */
$font-formulario: 1.3em 'raleway', sans-serif;
$font-titulo-form: 2.5em 'Carrois Gothic SC', sans-serif;

/* Seccion Productos */
$font-producto-subtitulo: 1.7em'Carrois Gothic SC', sans-serif;

/* Seccion Sobre nosotros */
$font-about-titulo: 3em'Carrois Gothic SC', sans-serif;
$font-sobrenos-parrafo: 1.2em 'raleway', sans-serif;

/* Seccion Servicios */
$font-servicios-titulos: 2em'Carrois Gothic SC', sans-serif;
$font-servicios-parrafos: 1.12em 'raleway', sans-serif;

/* Page not found */
$font-error404: 15px 'raleway', sans-serif;


