
/* Imports */
@import "colores";
@import "tipografias";
@import "variables";
@import "mediaq" ;
@import "style-notfound";

/* header */

.imagenHeader img {
  width: 100%; 
  height: 300px;
}

/* ----------------------------------------------Menu------------------------------- */
.menu {
    background-color: $yellow;
}
.nav.nav-tabs.nav-justified li a{
    font: $font-menu;
    color: $black;
    letter-spacing: 3px;
}

/*----------------------------------------- Footer------------------------------------- */
.footer{
  width: 100%;
  background-color: $yellow;
}

.footer_1  {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:80px;
  padding: 10px 0px;
}

.footer_1 h2{
  font: $font-footer;
  letter-spacing: 2px;
  color: black;
}
.footer_1 p {
  font: $font-generico;
  font-size: 1.3em;
}

.footer .footer_1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box figure img{
  width: 100px;
}

.redes a {
  display:inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: black;
  margin-right: 10px;
  text-align: center;
  font-size: 3.2em;
}


.footer_2 {
  background-color: $linen;
  padding: 15px 10px;
  text-align: center;
  color: black;
  font: $font-footer;
  font-size: 1.3em;
}

/* -------------------------------------Sección Home --------------------------- */

#carouselExampleCaptions {
    padding-top: 10px;
}
.carousel__titulo {
  font: $carousel-titulo;
}
  
.carousel__texto {
  font: $carousel-descripcion;
}


/* -------------------------------Sección sobre nosotros------------------------ */

.about {
  display:flex;
  width: 100%;
  height: 90vh;
  background-image: url(sobrenos.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
}  

#aboutBox {
  display: flex;
  flex-flow: column;
  background-color:$mimi-pink;
  width: 120vh;
  height: 80vh;
  padding:20px;
  justify-content: center;
  align-items: center;
  box-shadow: $form-shadow;
  border-radius: 8px;
  margin-left: 15px;
}

#aboutTitulo {
  font: $font-about-titulo;
  margin-top: 6vh;
}

#aboutSubtitulo {
  margin-top: 3vh;
}

#aboutParrafo {
  font: $font-sobrenos-parrafo;
  color:black;
  line-height: 4vh;
  text-align: justify;
  margin-top: 5vh;
}

/*--------------------------- Seccion Productos---------------------------------- */

.productos {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 40px;
  padding-top: 30px;
  background-image: url(marble.jpg);
}

.producto {
  flex: 0 0 0;
  margin: 10px;    
  background-color: white ;
  box-shadow: $card-shadow ;
  border-radius: 20px;
} 

.producto img {
  max-width: auto;
  border-radius: 20px;
}

.producto__text {
  padding: 0 20px 20px;
  line-height: 20px;
}

.producto a {
  margin-top: 30px;
  margin-left: 10px;
}

.producto a:hover {
  transform: scale(1);
  box-shadow: $form-shadow;
}

.producto__subtitulo {
  font: $font-producto-subtitulo;
  margin-top: 30px;
}

.producto p {
  margin-top: 18px;
  font-size: 12px;
}

/* ---------------------------Seccion Servicios---------------------------------- */
#servicios {
  background-image: url(marble.jpg);
}

#servicios img{
    width: 350px;
    height: 350px;
    box-shadow: $form-shadow;
}

#servicios h4{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    font: $font-servicios-titulos;
}

#servicios p{
    text-align: justify;
    font: $font-servicios-parrafos;
    line-height: 14px;
    letter-spacing: 0.5px;

}

#servicios a{
    margin-top: 10px;
    margin-left: 120px;
    margin-bottom: 10px;
}

#servicios a:hover {
    transform: scale(1);
    box-shadow: $form-shadow;
}

/*------------------------------- Seccion Contacto------------------------------- */
 
.contacto {
    display:flex;
    width: 100%;
    height: 100vh;
    background-image: url(cookies.jpg);
    background-size: cover;
    justify-content: left;
    align-items: center;
}  

.contacto__formulario {
    display: flex;
    flex-flow: column;
    background-color: white;
    width: 50%;
    height: 80%;
    padding:20px;
    justify-content: center;
    align-items: center;
    box-shadow: $form-shadow;
    border-radius: 10px;
    margin-left: 15px;
}

input, textarea {
    border: none;
    resize: none;
    outline: none;
    padding: 15px 0px;
    width: 70%;
    margin: 10px;
    transition: all 30ms;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.contacto__titulo {
    font: $font-titulo-form;
}

form input {
    font: $font-formulario ;
}

input:focus, textarea:focus {
    border-bottom-color: $light-blue;
}

#contacto__enviar {
    border: none;
    outline: none;
    padding: 15px;
    width: 150px;
    border-radius: 4px;
    box-shadow: $form-shadow;
    margin: 40px 0px;
    font: $font-formulario;
}

#contacto__enviar:hover {
    transform: scale(1.05);
    box-shadow: $form-shadow;
}



/*------------------------------- Seccion Tienda------------------------------- */

