@charset "UTF-8";
/* Imports */
/* Colores */
/* Tipografias */
/* Genéricas */
/* Home */
/* Seccion contacto */
/* Seccion Productos */
/* Seccion Sobre nosotros */
/* Seccion Servicios */
/* Page not found */
/* Variables */
/* Media Q - Imagen Header (responsive) */
@media only screen and (min-width: 1024px) {
  .imagenHeader img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .imagenHeader img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 320px) {
  .imagenHeader img {
    width: 100%;
    height: auto;
  }
}

/* Media Q - Page not found */
@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }
  .notfound .notfound-404 h1 {
    font-size: 122px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}

/* header */
.imagenHeader img {
  width: 100%;
  height: 300px;
}

/* ----------------------------------------------Menu------------------------------- */
.menu {
  background-color: #ffe66d;
}

.nav.nav-tabs.nav-justified li a {
  font: 1em "raleway", sans-serif;
  color: #0c0c0c;
  letter-spacing: 3px;
}

/*----------------------------------------- Footer------------------------------------- */
.footer {
  width: 100%;
  height: 80px;
  color: #0c0c0c;
  font: 1.1em "raleway", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fad2ff), to(#eae4e9));
  background-image: linear-gradient(to bottom, #fad2ff, #eae4e9);
  position: relative;
}

.footer__ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr 2fr;
  margin: 0 auto;
  list-style: none;
}

.footer__li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bi-whatsapp, .bi-facebook, .bi-instagram, .bi-truck {
  padding-top: 10px;
  color: black;
  margin-left: 50px;
}

.bi-instagram {
  margin-left: 0;
}

/* -------------------------------------Sección Home --------------------------- */
#carouselExampleCaptions {
  padding-top: 10px;
}

.carousel__titulo {
  font: 3.7em "Carrois Gothic SC", sans-serif;
}

.carousel__texto {
  font: 2em "raleway", sans-serif;
}

/* -------------------------------Sección sobre nosotros------------------------ */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90vh;
  background-image: url(sobrenos.jpg);
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #fad2ff;
  width: 120vh;
  height: 80vh;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  border-radius: 8px;
  margin-left: 15px;
}

#aboutTitulo {
  font: 3em "Carrois Gothic SC", sans-serif;
  margin-top: 6vh;
}

#aboutSubtitulo {
  margin-top: 3vh;
}

#aboutParrafo {
  font: 1.2em "raleway", sans-serif;
  color: black;
  line-height: 5vh;
  text-align: justify;
  margin-bottom: 2vh;
  margin-top: 5vh;
}

/*--------------------------- Seccion Productos---------------------------------- */
.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-left: 40px;
  padding-top: 30px;
  background-image: url(marble.jpg);
}

.producto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  margin: 10px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
  border-radius: 20px;
}

.producto img {
  max-width: auto;
  border-radius: 20px;
}

.producto__text {
  padding: 0 20px 20px;
  line-height: 20px;
}

.producto a {
  margin-top: 30px;
  margin-left: 10px;
}

.producto a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

.producto__subtitulo {
  font: 1.7em "Carrois Gothic SC", sans-serif;
  margin-top: 30px;
}

.producto p {
  margin-top: 18px;
  font-size: 12px;
}

/* ---------------------------Seccion Servicios---------------------------------- */
#servicios {
  background-image: url(marble.jpg);
}

#servicios img {
  width: 350px;
  height: 350px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

#servicios h4 {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
  font: 2em "Carrois Gothic SC", sans-serif;
}

#servicios p {
  text-align: justify;
  font: 1.12em "raleway", sans-serif;
  line-height: 14px;
  letter-spacing: 0.5px;
}

#servicios a {
  margin-top: 10px;
  margin-left: 120px;
  margin-bottom: 10px;
}

#servicios a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

/*------------------------------- Seccion Contacto------------------------------- */
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(cookies.jpg);
  background-size: cover;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: white;
  width: 50%;
  height: 80%;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  border-radius: 10px;
  margin-left: 15px;
}

input, textarea {
  border: none;
  resize: none;
  outline: none;
  padding: 15px 0px;
  width: 70%;
  margin: 10px;
  -webkit-transition: all 30ms;
  transition: all 30ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contacto__titulo {
  font: 2.5em "Carrois Gothic SC", sans-serif;
}

form input {
  font: 1.3em "raleway", sans-serif;
}

input:focus, textarea:focus {
  border-bottom-color: #cddafd;
}

#contacto__enviar {
  border: none;
  outline: none;
  padding: 15px;
  width: 150px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  margin: 40px 0px;
  font: 1.3em "raleway", sans-serif;
}

#contacto__enviar:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

/* ---------------------------------Page Error 404--------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#notfound .notfound-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#notfound .notfound-bg > div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #fff5f5;
}

#notfound .notfound-bg > div:nth-child(1) {
  left: 20%;
}

#notfound .notfound-bg > div:nth-child(2) {
  left: 40%;
}

#notfound .notfound-bg > div:nth-child(3) {
  left: 60%;
}

#notfound .notfound-bg > div:nth-child(4) {
  left: 80%;
}

#notfound .notfound-bg > div:after {
  content: '';
  position: absolute;
  top: 0px;
  left: -0.5px;
  -webkit-transform: translateY(-160px);
  transform: translateY(-160px);
  height: 160px;
  width: 2px;
  background-color: #fad2ff;
}

@-webkit-keyframes drop {
  90% {
    height: 20px;
  }
  100% {
    height: 160px;
    -webkit-transform: translateY(calc(100vh + 160px));
    transform: translateY(calc(100vh + 160px));
  }
}

@keyframes drop {
  90% {
    height: 20px;
  }
  100% {
    height: 160px;
    -webkit-transform: translateY(calc(100vh + 160px));
    transform: translateY(calc(100vh + 160px));
  }
}

#notfound .notfound-bg > div:nth-child(1):after {
  -webkit-animation: drop 3s infinite linear;
  animation: drop 3s infinite linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#notfound .notfound-bg > div:nth-child(2):after {
  -webkit-animation: drop 2s infinite linear;
  animation: drop 2s infinite linear;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#notfound .notfound-bg > div:nth-child(3):after {
  -webkit-animation: drop 3s infinite linear;
  animation: drop 3s infinite linear;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

#notfound .notfound-bg > div:nth-child(4):after {
  -webkit-animation: drop 2s infinite linear;
  animation: drop 2s infinite linear;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 210px;
  line-height: 210px;
}

.notfound .notfound-404 h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 188px;
  font-weight: 700;
  margin: 0px;
  text-shadow: 4px 4px 0px #ffe66d;
}

.notfound h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.notfound p {
  font: 15px "raleway", sans-serif;
  color: #000;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 25px;
}

.notfound a {
  font-family: 'Lato', sans-serif;
  padding: 10px 30px;
  display: inline-block;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #fff1e6;
  box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #fff1e6;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #ffe66d;
  -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #fff1e6;
  box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #fff1e6;
}
/*# sourceMappingURL=style.css.map */