@charset "UTF-8";
/* Imports */
/* Colores */
/* Tipografias */
/* Media Q - Imagen Header (responsive) */
@media screen and (max-width: 400px) {
  .imagenHeader {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

/* Media Q - Sección Productos (responsive) */
@media screen and (max-width: 600px) {
  .productos {
    width: 100%;
  }
}

/* Variables */
/*---------------------------------- Titulos (index + secciones) --------------------*/
h2 {
  clear: left;
  font: 12px "Carrois Gothic SC", sans-serif;
  color: #0c0c0c;
  text-align: left;
}

/* ----------------------------------------------Menu------------------------------- */
.menu {
  background-color: #ffe66d;
}

.nav.nav-tabs.nav-justified li a {
  font: 10px "raleway", sans-serif;
  color: #0c0c0c;
  letter-spacing: 3px;
}

/*----------------------------------------- Footer------------------------------------- */
.footer {
  width: 100%;
  height: 80px;
  color: #0c0c0c;
  font: 12px "raleway", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fad2ff), to(#eae4e9));
  background-image: linear-gradient(to bottom, #fad2ff, #eae4e9);
  position: relative;
}

.footer__ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr 2fr;
  margin: 0 auto;
  list-style: none;
}

.footer__li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bi-whatsapp, .bi-facebook, .bi-instagram, .bi-truck {
  padding-top: 10px;
  color: black;
  margin-left: 50px;
}

.bi-instagram {
  margin-left: 0;
}

/* -------------------------------------Sección Home --------------------------- */
#carouselExampleCaptions {
  padding-top: 10px;
}

.carousel__titulo {
  font: 30px "Carrois Gothic SC", sans-serif;
}

.carousel__texto {
  font: 18px "raleway", sans-serif;
}

/* -------------------------------Sección sobre nosotros------------------------ */
main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about {
  background: url("pages/secciones/multimedia/sobrenos.jpg");
  background-size: 100%;
  overflow: hidden;
  padding: 50px 0;
}

.about__description {
  width: 60%;
  height: 600px;
  float: left;
  background-color: #fad2ff;
  margin-left: 10px;
  padding: 130px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  border-radius: 15px;
}

.about__description h1 {
  margin-bottom: 30px;
  font: 30px "Carrois Gothic SC", sans-serif;
}

.about__description h5 {
  font-size: 20px;
}

.about__description p {
  font: 13px "raleway", sans-serif;
  color: black;
  line-height: 32px;
  text-align: justify;
  margin-bottom: 40px;
  margin-top: 10px;
}

.about__description a {
  margin-left: 35%;
  font-size: 13px;
}

.about__description a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

/*--------------------------- Seccion Productos---------------------------------- */
.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-left: 40px;
  padding-top: 30px;
  background-image: url(pages/secciones/multimedia/marble.jpg);
}

.producto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  margin: 10px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
  border-radius: 20px;
}

.producto img {
  max-width: auto;
  border-radius: 20px;
}

.producto__text {
  padding: 0 20px 20px;
  line-height: 20px;
}

.producto a {
  margin-top: 30px;
  margin-left: 10px;
}

.producto a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

.producto__subtitulo {
  font: 18px "Carrois Gothic SC", sans-serif;
  margin-top: 30px;
}

.producto p {
  margin-top: 18px;
  font-size: 12px;
}

/* ---------------------------Seccion Servicios---------------------------------- */
#servicios {
  background-image: url(pages/secciones/multimedia/marble.jpg);
}

#servicios img {
  width: 350px;
  height: 350px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

#servicios h4 {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
  font: 18px "Carrois Gothic SC", sans-serif;
}

#servicios p {
  text-align: justify;
}

#servicios a {
  margin-top: 10px;
  margin-left: 120px;
  margin-bottom: 10px;
}

#servicios a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

/*------------------------------- Seccion Contacto------------------------------- */
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(pages/secciones/multimedia/cookies.jpg);
  background-size: cover;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: white;
  width: 50%;
  height: 80%;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  border-radius: 10px;
  margin-left: 15px;
}

input, textarea {
  border: none;
  resize: none;
  outline: none;
  padding: 15px 0px;
  width: 70%;
  margin: 10px;
  -webkit-transition: all 30ms;
  transition: all 30ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contacto__titulo {
  font: 25px "Carrois Gothic SC", sans-serif;
}

form input {
  font: 12px "raleway", sans-serif;
}

input:focus, textarea:focus {
  border-bottom-color: #cddafd;
}

.contacto__enviar {
  border: none;
  outline: none;
  background-color: #cddafd;
  padding: 15px;
  width: 200px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  margin: 40px 0px;
  font: 12px "raleway", sans-serif;
}

.contacto__enviar:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

/* ---------------------------------Page Error 404--------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#notfound .notfound-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#notfound .notfound-bg > div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #fff5f5;
}

#notfound .notfound-bg > div:nth-child(1) {
  left: 20%;
}

#notfound .notfound-bg > div:nth-child(2) {
  left: 40%;
}

#notfound .notfound-bg > div:nth-child(3) {
  left: 60%;
}

#notfound .notfound-bg > div:nth-child(4) {
  left: 80%;
}

#notfound .notfound-bg > div:after {
  content: '';
  position: absolute;
  top: 0px;
  left: -0.5px;
  -webkit-transform: translateY(-160px);
  transform: translateY(-160px);
  height: 160px;
  width: 2px;
  background-color: #fad2ff;
}

@-webkit-keyframes drop {
  90% {
    height: 20px;
  }
  100% {
    height: 160px;
    -webkit-transform: translateY(calc(100vh + 160px));
    transform: translateY(calc(100vh + 160px));
  }
}

@keyframes drop {
  90% {
    height: 20px;
  }
  100% {
    height: 160px;
    -webkit-transform: translateY(calc(100vh + 160px));
    transform: translateY(calc(100vh + 160px));
  }
}

#notfound .notfound-bg > div:nth-child(1):after {
  -webkit-animation: drop 3s infinite linear;
  animation: drop 3s infinite linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#notfound .notfound-bg > div:nth-child(2):after {
  -webkit-animation: drop 2s infinite linear;
  animation: drop 2s infinite linear;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#notfound .notfound-bg > div:nth-child(3):after {
  -webkit-animation: drop 3s infinite linear;
  animation: drop 3s infinite linear;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

#notfound .notfound-bg > div:nth-child(4):after {
  -webkit-animation: drop 2s infinite linear;
  animation: drop 2s infinite linear;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 210px;
  line-height: 210px;
}

.notfound .notfound-404 h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 188px;
  font-weight: 700;
  margin: 0px;
  text-shadow: 4px 4px 0px #ffe66d;
}

.notfound h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.notfound p {
  font: 15px "raleway", sans-serif;
  color: #000;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 25px;
}

.notfound a {
  font-family: 'Lato', sans-serif;
  padding: 10px 30px;
  display: inline-block;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #fff1e6;
  box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #fff1e6;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #ffe66d;
  -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #fff1e6;
  box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #fff1e6;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }
  .notfound .notfound-404 h1 {
    font-size: 122px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}
/*# sourceMappingURL=style.css.map */