/* Colores */

$linen: rgb(255, 241, 230);
$yellow:rgb(255,230,109);
$magnolia: rgb(234,228,233);
$mimi-pink: rgb(250,210,255);
$light-blue: rgb(205,218,253);
$light-green: rgb(190,225,230);
$gray: rgb(226, 226, 226);
$black: rgb(12, 12, 12)



