/* Tipografias */

$font-titulos: 12px 'Carrois Gothic SC', sans-serif, underline; 
$font-menu: 10px 'raleway', sans-serif;
$font-footer: 12px 'tahoma', sans-serif;
$font-generico: 'tahoma', sans-serif;
$font-formulario: 12px 'raleway', sans-serif;
$font-titulo-form: 22px 'raleway', sans-serif bold;
$font-producto-subtitulo: 9px'raleway', sans-serif bold;
$font-about-titulo: 30px 'raleway' sans-serif bold;
$font-servicios-titulo: 25px 'Carrois Gothic SC', sans-serif;
$font-error404: 15px 'raleway', sans-serif;
$carousel-titulo: 40px 'raleway', sans-serif;
$carousel-descripcion: 18px 'raleway', sans-serif;


