/* Tipografias */

$font-titulos: 12px 'Carrois Gothic SC', sans-serif; 
$font-menu: 10px 'raleway', sans-serif;
$font-footer: 12px 'raleway', sans-serif;
$font-generico: 'tahoma', sans-serif;
$font-formulario: 12px 'raleway', sans-serif;
$font-titulo-form: 25px 'Carrois Gothic SC', sans-serif;
$font-producto-subtitulo: 18px'Carrois Gothic SC', sans-serif;
$font-about-titulo: 30px'Carrois Gothic SC', sans-serif;
$font-error404: 15px 'raleway', sans-serif;
$carousel-titulo: 30px'Carrois Gothic SC', sans-serif;
$carousel-descripcion: 18px 'raleway', sans-serif;
$font-servicios-titulos: 18px'Carrois Gothic SC', sans-serif;
$font-sobrenos-parrafo: 13px 'raleway', sans-serif;


